[Unit]
Description=BLE MQTT LYWSD03MMC
After=network.target

[Service]
ExecStart=/home/pi/LYWSD03MMC.py -d a4:c1:38:cf:bc:2f,a4:c1:38:47:63:36 -r -b 5 -c 1 -m 192.168.0.99 -del 60
WorkingDirectory=/home/pi
StandardOutput=/home/pi/log1.log
StandardError=/home/pi/log2.log
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

